@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
.caricamento {
  position: fixed;
  inset: 0;
  height: 100vh;
  opacity: 0.9;
  -webkit-animation: carica 7s forwards;
          animation: carica 7s forwards;
  z-index: 1;
  background-color: #fff;
}

.cerchio {
  position: relative;
  font-size: xx-large;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border-radius: 10px;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 1px 3px 1px lightgrey;
  position: relative;
  margin: auto;
  padding: 0.3rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
}

.indirizzo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  gap: 1rem;
}
.indirizzo i {
  font-size: x-large;
}
.indirizzo h3 {
  font-weight: normal;
  font-weight: 400;
}

.annuncio {
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
}
.annuncio button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: white;
  font-weight: 500;
  font-size: medium;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: 0.5s;
  border: transparent;
}
.annuncio button:hover {
  background-color: #fff;
  filter: brightness(1.02);
  box-shadow: 7px 8px 30px rgb(255, 121, 218);
}
.annuncio p {
  font-weight: 300;
}

.funzionamento h2 {
  margin: 1rem;
}
.funzionamento .filtri {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  flex-direction: column;
}
@media (min-width: 990px) {
  .funzionamento .filtri {
    flex-direction: row;
  }
}
.funzionamento .filtri div {
  background-color: #f3f3f3;
}
.funzionamento .filtri .filtro {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4px;
  border-radius: 1rem;
  padding-right: 4rem;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}
.funzionamento .filtri .filtro:hover {
  background-color: #f5edff;
}
.funzionamento .filtri .number {
  display: flex;
  width: 1rem;
  height: 1rem;
  padding: 14px;
  margin-left: -19px;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  border-radius: 1rem;
  color: white;
}
.funzionamento .filtri i {
  font-size: 21px;
  color: #7e7e7e;
}
.funzionamento .filtri p {
  font-weight: bold;
}

.menu {
  padding: 3rem 1rem;
  background-color: #eaeaea;
}
.menu .quadro {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.menu .quadro .carta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 1rem;
  position: relative;
  background-color: white;
  flex-basis: 100%;
  box-shadow: -5px 11px 19px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 11px 19px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 11px 19px 1px rgba(0, 0, 0, 0.75);
}
@media (min-width: 976px) {
  .menu .quadro .carta {
    min-width: 32rem;
    flex-basis: min-content;
  }
}
.menu .quadro .carta a {
  color: black;
  text-decoration: none;
}
.menu .quadro .carta h3 {
  margin: 0 16px;
}
.menu .quadro .carta p {
  margin-top: 5px;
  margin-left: 16px;
  text-decoration: none;
}
.menu .quadro .carta .cuore {
  position: absolute;
  right: 20px;
  font-size: 28px;
  bottom: 30px;
}
.menu .quadro .carta .cuore .hover {
  opacity: 0;
  position: absolute;
  right: 0px;
  font-size: 28px;
  color: violet;
  bottom: 3px;
  transition-duration: 1s;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .quadro .carta .cuore:hover .hover {
  opacity: 1;
  transform: scale(1.1);
  transition-duration: 1.5s;
}
.menu .quadro .carta .immagine img {
  height: 12rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.menu .quadro .carta span {
  position: absolute;
  right: 20px;
  top: 14px;
  background-color: #99e2d0;
  padding: 0.5rem 1rem;
  color: #1b6150;
}

.piedi {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #353535;
  color: white;
}
.piedi a {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.6;
  color: white;
}
.piedi a:hover {
  text-decoration: underline;
}

@-webkit-keyframes rotazione {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes rotazione {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes Rotazione1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes Rotazione1 {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes carica {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes carica {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
header i {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 2.2rem;
  color: #000;
}

.scova img {
  width: 100%;
  height: 27rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -20px;
}

.capo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #eaeaea;
  position: relative;
  margin-top: -4rem;
  border-radius: 3rem 3rem 0;
}
.capo .titolo {
  position: relative;
}
.capo .titolo .cuore {
  position: absolute;
  right: 20px;
  font-size: 28px;
  bottom: 3px;
}
.capo .titolo .cuore .hover {
  opacity: 0;
  position: absolute;
  right: 0px;
  font-size: 28px;
  color: violet;
  bottom: 3px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.capo .titolo .cuore:hover .hover {
  opacity: 1;
  transform: scale(1.1);
  transition-duration: 1.5s;
}
.capo .capo-display {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1300px) {
  .capo .capo-display {
    display: flex;
    flex-direction: column;
  }
}
.capo .capo-display .menu-display {
  margin: -1rem;
  width: -webkit-fill-available;
}
.capo .capo-display .menu-display h3 {
  padding: 0rem 1rem;
  text-transform: uppercase;
  font-weight: 400;
}
.capo .capo-display .menu-display .sottotitolo {
  display: flex;
  -webkit-animation: apparizione 3s;
          animation: apparizione 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  flex-grow: 1;
  border-radius: 1rem;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(1) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(2) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(3) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.capo .capo-display .menu-display .sottotitolo:nth-child(5) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
@-webkit-keyframes apparizione {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparizione {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.capo .capo-display .menu-display .sottotitolo:hover {
  cursor: pointer;
}
.capo .capo-display .menu-display .sottotitolo:hover .controllo {
  transition: all 0.5s;
  margin-right: 0rem;
}
.capo .capo-display .menu-display .sottotitolo:hover i {
  -webkit-animation: rotazione 1s;
          animation: rotazione 1s;
}
.capo .capo-display .menu-display .sottotitolo .sottotitolo-sotto,
.capo .capo-display .menu-display .sottotitolo .prezzo {
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.capo .capo-display .menu-display .sottotitolo .controllo {
  width: 4rem;
  background: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  display: grid;
  place-items: center;
  min-width: 53px;
}
.capo .capo-display .menu-display .sottotitolo .controllo i {
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 1rem;
  display: grid;
  place-items: center;
  flex-shrink: 0;
  text-shadow: -1px 0 #99e2d0, 0 1px #99e2d0, 1px 0 #99e2d0, 0 -1px #99e2d0;
  color: #99e2d0;
}
.capo .capo-display .menu-display p {
  padding: 0rem;
  margin: 0 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.capo .capo-display .menu-display h4 {
  padding: 0rem;
  margin: 0 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.capo .capo-display .menu-display .prezzo {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  align-items: flex-end;
  font-weight: bold;
}

.comanda {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem;
}
.comanda button {
  padding: 15px 38px;
  border-radius: 2rem;
  color: white;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: 0.5s;
  font-size: large;
  border: transparent;
}
.comanda button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 43px 10px rgba(238, 130, 238, 0.75);
  -webkit-box-shadow: 4px 4px 43px 10px rgba(238, 130, 238, 0.75);
  -moz-box-shadow: 4px 4px 43px 10px rgba(238, 130, 238, 0.75);
}/*# sourceMappingURL=style.css.map */